
<!DOCTYPE html>
<html lang="en" ng-app="includeTools">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Product Office Hours Tools &amp; Frameworks | Pivotal Labs</title>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js'></script>


    <link rel="shortcut icon" href="https://d1fto35gcfffzn.cloudfront.net/images/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="pohstyle.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app.js"></script>
</head>

</head>
<body id="en" ng-controller="includeCtrl">


<div class="ie-lt-9">
    <div class="dialog">
        <span style="font-size:2em;display:block;">This website requires a newer version of Internet Explorer</span>
        We recommend to update your browser to the latest version of Internet Explorer
        <p><a href="http://windows.microsoft.com/en-MY/internet-explorer/download-ie">Update your browser</a></p>
    </div>
</div>

<header class="main-top">

    <div class="logo-wrap">
        <div class="logo"><a href="http://pivotal.io/office-hours"><img src="http://www.emcworld.com/images/sponsor_logos/logo_sponsor_pivotal.png"></a></div>
        <!--<div class="mini-logo"><a href="http://pivotal.io/office-hours"><img src="https://d213dhlpdb53mu.cloudfront.net/assets/pivotal-square-logo-c766713bf8f203d45e0dbd6fdd5640de.svg"></a></div>-->
        <div class="bottom-triangle"></div>
        <div class="top-menu"></div>
    </div>

    <div>
    </div>
</header>

<div id="maincontainer">


    <section id="main-content">
        <header class="bg" style='background-image: url(https://d19tpjivt1sior.cloudfront.net/header/banner/concepts-tools.jpg)'>

            <div class="title">
                <h1>Product Office Hours Tools</h1>
            </div>
        </header>

        <section id="concepts">

            <div class="wrapper">

                <div class="row tools-header">

                    <ng-include ng-hide="tool!='default'" src="'tools/intro.html'"></ng-include>
                    <ng-include ng-show="tool=='dump'" src="'tools/dumpandsort.html'"></ng-include>
                    <ng-include ng-show="tool=='designcritique'" src="'tools/designcritique.html'"></ng-include>
                    <ng-include ng-show="tool=='persona'" src="'tools/personas.html'"></ng-include>
                    <ng-include ng-show="tool=='moments'" src="'tools/moments.html'"></ng-include>
                    <ng-include ng-show="tool=='valueprop'" src="'tools/valueprop.html'"></ng-include>
                    <ng-include ng-show="tool=='molecule'" src="'tools/molecule.html'"></ng-include>
                    <ng-include ng-show="tool=='canvas'" src="'tools/canvas.html'"></ng-include>
                    <ng-include ng-show="tool=='blueprint'" src="'tools/blueprint.html'"></ng-include>
                    <ng-include ng-show="tool=='lean'" src="'tools/lean.html'"></ng-include>
                    <ng-include ng-show="tool=='usertesting'" src="'tools/usertesting.html'"></ng-include>
                    <ng-include ng-show="tool=='progressforces'" src="'tools/progressforces.html'"></ng-include>
                    <ng-include ng-show="tool=='cardsort'" src="'tools/cardsort.html'"></ng-include>
                    <ng-include ng-show="tool=='stackrank'" src="'tools/stackrank.html'"></ng-include>
                    <ng-include ng-show="tool=='ninefaces'" src="'tools/ninefaces.html'"></ng-include>


                <section class="tools-wrapper">
                    <div class="tools-list">
                        <figure ng-click="tool='dump'">
                            <a alt="Dump & Sort" href=""><img src="images/brainstorm.jpeg" height="180" width="200"></a><span>Dump & Sort</span>
                        </figure>

                        <figure ng-click="tool='designcritique'">
                            <a alt="Design Critique"><img src="images/Heatmap-Eye.png" height="180" width="200"></a><span>Design Critique</span>
                        </figure>

                        <figure ng-click="tool='persona'">
                            <a alt="Personas" href=""><img src="images/personas.jpg" height="180" width="200"></a><span>Personas</span>
                        </figure>

                        <figure ng-click="tool='moments'">
                            <a alt="Moments of Delight" href=""><img src="images/moments.jpg" height="180" width="200"></a><span>Moments of Delight</span>
                        </figure>

                        <figure ng-click="tool='valueprop'">
                            <a alt="Value Proposition" href=""><img src="images/value.jpeg" height="180" width="200"></a><span>Value Proposition</span>
                        </figure>

                        <figure ng-click="tool='molecule'">
                            <a alt="Molecule" href=""><img src="images/molecule.jpg" height="180" width="200"></a><span>Molecule</span>
                        </figure>

                        <figure ng-click="tool='canvas'">
                            <a alt="Business Model Canvas" href=""><img src="images/bmcanvas.png" height="180" width="200"></a><span>Business Model Canvas</span>
                        </figure>

                        <figure ng-click="tool='blueprint'">
                            <a alt="Service Model Blueprint" href=""><img src="images/blueprint.jpg" height="180" width="200"></a><span>Service Model Blueprint</span>
                        </figure>

                        <figure ng-click="tool='lean'">
                            <a alt="Lean Hypothesis" href=""><img src="images/hypothesis.jpg" height="180" width="200"></a><span>Lean Hypothesis</span>
                        </figure>

                        <figure ng-click="tool='usertesting'">
                            <a alt="Live User Testing" href=""><img src="images/usertesting.jpg" height="180" width="200"></a><span>Live User Testing</span>
                        </figure>

                        <figure ng-click="tool='progressforces'">
                            <a alt="Progress Making Forces" href=""><img src="images/progress.png" height="180" width="200"></a><span>Progress Making Forces</span>
                        </figure>

                        <figure ng-click="tool='cardsort'">
                            <a alt="Card Sorting" href=""><img src="images/cardsort.jpg" height="180" width="200"></a><span>Card Sorting</span>
                        </figure>

                        <figure ng-click="tool='stackrank'">
                            <a alt="Stack Ranking" href=""><img src="images/ranking.jpg" height="180" width="200"></a><span>Stack Ranking</span>
                        </figure>

                        <figure ng-click="tool='ninefaces'">
                            <a alt="Nine Faces" href=""><img src="images/faces.png" height="180" width="200"></a><span>Nine Faces</span>
                        </figure>

                    </div>
                </section>

            </div>
                        </div>
                    </div>
                </div>
        </section>

    </section>


</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>src="https://cdnjs.cloudflare.com/ajax/libs/jquery.caroufredsel/6.2.1/jquery.carouFredSel.packed.js"</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.12/jquery.touchSwipe.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="app.js"></script>

</body>
</html>