
<!DOCTYPE html>
<html lang="en" ng-app="includeTools">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Product Office Hours Tools &amp; Frameworks | Pivotal Labs</title>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js'></script>


    <link rel="shortcut icon" href="https://d1fto35gcfffzn.cloudfront.net/images/favicon.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="pohstyle.css" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="app.js"></script>
</head>

</head>
<body id="en" ng-controller="includeCtrl">


<div class="ie-lt-9">
    <div class="dialog">
        <span style="font-size:2em;display:block;">This website requires a newer version of Internet Explorer</span>
        We recommend to update your browser to the latest version of Internet Explorer
        <p><a href="http://windows.microsoft.com/en-MY/internet-explorer/download-ie">Update your browser</a></p>
    </div>
</div>

<header class="main-top">

    <div class="logo-wrap">
        <div class="logo"><a href="http://pivotal.io/office-hours"><img src="http://www.emcworld.com/images/sponsor_logos/logo_sponsor_pivotal.png"></a></div>
        <!--<div class="mini-logo"><a href="http://pivotal.io/office-hours"><img src="https://d213dhlpdb53mu.cloudfront.net/assets/pivotal-square-logo-c766713bf8f203d45e0dbd6fdd5640de.svg"></a></div>-->
        <div class="bottom-triangle"></div>
        <div class="top-menu"></div>
    </div>

    <div>
    </div>
</header>

<div id="maincontainer">


    <section id="main-content">
        <header class="bg" style='background-image: url(https://d19tpjivt1sior.cloudfront.net/header/banner/concepts-tools.jpg)'>
            <!--<nav class="landing-social">
                <div class="wrap">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/BlueOceanStrategy1" class="fb" target="_blank"></a></li>
                        <li><a href="https://twitter.com/BlueOceanStrtgy" class="tweet" target="_blank"></a></li>
                        <li><a href="https://www.linkedin.com/company/blue-ocean-strategy" class="linkedin" target="_blank"></a></li>
                        <li><a href="https://www.youtube.com/c/blueoceanstrategy" class="youtube" target="_blank"></a></li>
                        <li class="news-signup"><a href="http://eepurl.com/-mcmf" class="mail" target="_blank"></a>
                            <div class="newsletter-signup quicksignup">
                                <form action="https://www.blueoceanstrategy.com/wp-content/themes/newbos/mailchimp/website-signup.php" method="post">
                                    <div class="form-wrap">
                                        <input type="email" id="email" value="" class="required email" placeholder="Enter email address" name="email" /><br />
                                        <input type="hidden" id="source" value="Website" name="source" /><br />
                                        <input type="submit" class="" value="&#xf00c;" name="subscribe" />
                                    </div>
                                    <div class="msg-wrap msg0">Please try again.</div>
                                    <div class="msg-wrap msg1">This email address already exists.</div>
                                    <div class="msg-wrap msg2">Thanks for subscribing!</div>
                                    </p></form>
                                </p></div>
                        </li>
                    </ul>
                </div>
            </nav>-->

            <div class="title">
                <h1>Product Office Hours Tools</h1>
            </div>
        </header>

        <section id="concepts">

            <div class="wrapper">

                <div class="row tools-header">

                    <ng-include ng-hide="tool!='default'" src="'tools/intro.html'"></ng-include>
                    <ng-include ng-show="tool=='dump'" src="'tools/dumpandsort.html'"></ng-include>
                    <ng-include ng-show="tool=='designcritique'" src="'tools/designcritique.html'"></ng-include>
                    <ng-include ng-show="tool=='persona'" src="'tools/personas.html'"></ng-include>



                <section class="tools-wrapper">
                    <div class="tools-list">
                        <figure ng-click="tool='dump'"><a alt="Dump & Sort" href=""><img src="brainstorm.jpeg" height="180" width="200"></a><span>Dump & Sort</span></figure>

                        <figure ng-click="tool='designcritique'"><a alt="Design Critique"><img src="Heatmap-Eye.png" height="180" width="200"></a><span>Design Critique</span></figure>

                        <figure ng-click="tool='persona'">
                            <a alt="Personas" href=""><img src="faces.png" height="180" width="200"></a><span>Personas</span>
                        </figure>

                        <figure></figure>
                        <figure></figure>

                    </div>
                </section>

            </div>
                        </div>
                    </div>
                </div>
        </section>

    </section>


</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>src="https://cdnjs.cloudflare.com/ajax/libs/jquery.caroufredsel/6.2.1/jquery.carouFredSel.packed.js"</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.12/jquery.touchSwipe.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script src="app.js"></script>

</body>
</html>